h1 {
  margin: 1%;
  color: red;
  font-family: 'Courier New', Courier, monospace;
}
* {

  background-color: wheat;
}
.planes {
  margin-right:-2%;
  position: relative;
}
/*This spaced out my icons but I still need to rework the icons and add labels*/
span.navigationSpace {
  padding-left: 90px;
}
/*h2 header to let users know how to access link. Still need to work on this.*/
h2 {
  margin-bottom: 1%;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #F5DEB3;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
.web-container {
  width: max-content;
}
